---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/Flows-gray.png";
import c2 from "../../assets/pics/Deliverability-green.png";
import c3 from "../../assets/pics/Campaign-dark.png";
import c4 from "../../assets/pics/Segment-gray.png";

const cards = [
  {
    index: 1,
    titleTop: "Core Automation",
    titleBottom: "& Flow Setup",
    img: c1,
    alt: "Setting up revenue-generating automated flows",
    link: "#flows",
  },
  {
    index: 2,
    titleTop: "Deliverability Setup",
    titleBottom: "& Domain Warmup",
    img: c2,
    alt: "Fixing technical DNS setup and inbox placement",
    link: "#deliverability",
  },
  {
    index: 3,
    titleTop: "Revenue-Driven",
    titleBottom: "Campaign Management",
    img: c3,
    alt: "Planning and executing regular email campaigns",
    link: "#campaigns",
  },
  {
    index: 1,
    titleTop: "List Segmentation",
    titleBottom: "& Clean-up Optimization",
    img: c4,
    alt: "Audience targeting and list hygiene",
    link: "#segmentation",
  },
];

const description =
  "Done-for-you email marketing infrastructure built explicitly for B2C brands. We handle the technical setup, the strategy, and the execution:";
---

<Section id="services">
  <div class="mt-[40px] mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
